parameters:
    level: 7
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests

    ignoreErrors:
        - '~Parameter #\d+ \$\w+ of [\w ]+ [\w\\]+(::\w+\(\)| constructor) expects [\w|]+, [\w|]+ given~'

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
