parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests

    ignoreErrors:
        - '~Parameter #\d+ \$\w+ of [\w ]+ [\w\\]+(::\w+\(\)| constructor) expects [\w\|]+, [\w\|]+ given~'

includes:
    - phpstan-baseline.neon
