<?xml version="1.0" encoding="utf-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="RABBITMQ_HOST" value="127.0.0.1" />
        <env name="RABBITMQ_PORT" value="5672" />
        <env name="RABBITMQ_VHOST" value="/" />
        <env name="RABBITMQ_USERNAME" value="guest" />
        <env name="RABBITMQ_PASSWORD" value="guest" />
    </php>

    <testsuite name="Tests">
        <directory>tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
